My workflow (4).json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtMinute": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -304,
        -240
      ],
      "id": "166026bb-273c-48bb-a97d-1bd97952a9e1",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://api.github.com/repos/tiangolo/fastapi/stargazers",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3.star+json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -80,
        -240
      ],
      "id": "0ef9e7c3-6093-48bd-8af3-f98dcae5b87b",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "ZXvYeCrhx36AuVBs",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.github.com/users/{{ $json.user.login }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        144,
        -240
      ],
      "id": "54720c27-e49a-4b11-8164-1938ae6bfea3",
      "name": "HTTP Request1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "ZXvYeCrhx36AuVBs",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "66ce3005-c4c2-45dc-bef2-9049bd361495",
              "leftValue": "={{ $json.followers }}",
              "rightValue": 100,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "c929cf54-50dc-427e-b8e1-5dc6d098efc3",
              "leftValue": "={{ $json.public_repos }}",
              "rightValue": 50,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        368,
        -240
      ],
      "id": "f7efd6c6-bdf2-45a0-bac6-6dbe5ae83d71",
      "name": "If"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You are a B2B sales assistant. Write exactly one sentence explaining why a dev tools company should reach out to this GitHub user."
            },
            {
              "content": "=Name: {{ $json.name }}\nCompany: {{ $json.company }}\nBio: {{ $json.bio }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        816,
        -240
      ],
      "id": "d6d1096d-fd56-4874-8f48-4af9def9532e",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "aSgdJblJ0GrjJwsb",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "maxItems": 5
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        592,
        -240
      ],
      "id": "0ae0bcbf-08ba-488c-97c7-0676f0c4ceb6",
      "name": "Limit"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://discord.com/api/webhooks/1487048820956201091/79n4Bbig5Uruct6og--aae08dt_cGarp15HkTPu391I8gXa6OVcZBvYTqyNv7iw85uWO",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "=**New Lead: {{ $('HTTP Request1').item.json.name }}**\nCompany: {{ $('HTTP Request1').item.json.company }}\nFollowers: {{ $('HTTP Request1').item.json.followers }}\nBio: {{ $('HTTP Request1').item.json.bio }}\n\nAI Pitch: {{ $('Message a model').item.json.output[0].content[0].text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1168,
        -240
      ],
      "id": "715a4477-33ef-4963-aa9c-425ccad3d18e",
      "name": "HTTP Request2"
    },
    {
      "parameters": {},
      "id": "3f0309ec-9002-4c40-9bee-c07ab10c2c37",
      "name": "Skip Rate Limited Users",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -304,
        -16
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "77c53524-1a9f-486e-a8bf-326016aad836",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b7f00105385e663739b1b9eea999f75b293a5de66c1404bceab4a55a99eb84fc"
  },
  "id": "VP32zhm22H7pRo4c",
  "tags": []
}